<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- Creating a form -->
                <form action="/" method="post">
                    <input autocomplete="off" autofocus name="name" placeholder="Name" required type="text">
                    <select name="month">
                        <option disabled selected>Month</option>
                        {% for month in MONTHS %}
                            <option value="{{month}}">{{month}}</option>
                        {% endfor %}
                    </select>
                    <select name="day">
                        <option disabled selected>Day</option>
                        {% for day in DAYS %}
                            <option value="{{day}}">{{day}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Inserting data -->
                        {% for index in birthdays %}
                        <tr>
                            <td>{{ index.name }}</td>
                            <td>{{ index.month }}/{{ index.day }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
