{% extends "layout.html" %}

{% block title %}
    Add Funds
{% endblock %}

{% block main %}
    <form action="/funds" method="post">
        <div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="funds" placeholder="Funds" type="text">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Add Funds</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}