{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for rows in rows%}
                <tr>
                    <td class="text-start">{{rows.symbol}}</td>
                    <td class="text-end">{{rows.number_of_shares}}</td>
                    <td class="text-end">{{usd(rows.price_of_transaction)}}</td>
                    <td class="text-end">{{rows.datetime}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}